$blueHover: #eefcfb;
$blueText: #5376ac;
$grayText: #777;
$purpleBackground: #7e80af;
$purpleBackgroundHover: #6f719a;
body, html {
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

h1 {
	font-family: 'Lato', sans-serif; 
	font-size: 44px; 
	font-weight: 300; 
	line-height: 58px;
}

h2 {
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 15.4px;
}

h5  {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

input:focus,
select:focus,
textarea:focus,
button:focus  {
    outline: none;
}

header  {
	.navbar  {
		transition: left 0.5s ease;
		left: 0;
		background: #fff;
		border: none;
		margin-right: 50px;
		overflow: hidden;
		.navbar-ul  {
			display: inline-block;
			float: none;
			margin-left: 40px;
			a {
				text-transform: uppercase;
				&:hover {
					background-color: $blueHover;
					color: $blueText;
				}
			}
			li.active > a {
				background-color: $blueHover;
				color: $blueText;
				&:hover {
					background-color: $blueHover;
					color: $blueText;
				}
			}
			
		}
		.navbar-div {
			max-height: 50px;
		}
		.navbar-i  {
			float: right;
			padding: 16.5px 25px;
			color: $grayText;
			font-size: 17px;
		}

		&.nav-hidden {
			left: 100%;
		}
	}

	.toggle-nav {
		position: fixed;
	    z-index: 999;
	    top: 0;
	    right: 0;
	    background: #fff;
	    width: 50px;
	    height: 50px;
	    margin: 0;
	    padding: 0;
	    border: none;
	    line-height: 50px;
	    color: $grayText;
	}
}

.fill {
	min-height: 100vh;
}

.home-background {
	position: relative;
	top: 0;
	left: 0;
	background: url('../images/background.png') top center no-repeat fixed;
	background-size: cover;
	width: 100%;
	height: 50vh;
	.upper-home, .lower-home {
		height: 30vh;
		button {
			background-color: $purpleBackground;
			border: 1px solid $purpleBackground;
			color: #fff;
			&:hover {
				background-color: $purpleBackgroundHover;
				border: 1px solid $purpleBackgroundHover;
			}
		}
	}
	.avatar {
		height: 40vh;
		img  {
			height: 100%;
			border-radius: 250px;
			border: 5px solid #fff;
			margin: auto;
		}

	}
}

.section {
	height: 100%;
	padding: 50px;
	&#about {
		background: #eee;
		#bladur, #basic-info, #interests {
			padding: 15px;
		}
		#bladur {
			background: #eee;
		}
		#basic-info {
			background: #eee;
			text-align: left;
			padding-top: 45px;
			padding-bottom: 0;
			.info-title {
				float: left;
				margin-right: 20px;
				font-weight: bold;
				p {
					color: black;
					font-size: 16px;
					padding-bottom: 0;
				}
			}
			.info-details {
				p {
					color: black;
					font-size: 16px;
					padding-bottom: 0;
				}
			}
			.about-signature {
				font-family: "Brush Script MT", cursive;
				font-size: 30px;
				margin-top: 11px;
			}
		}
		#interests {
			background: #eee;
			ul {
				padding: 0; 
				li {
					display: inline-block;
					float: left;
					margin: 0 30px 10px 0;
					width: 130px;
					height: 130px;
					border-radius: 50%;
					background-color: #999;
					p {
						color: #eee;
						font-size: 19px;
						text-algin: center;
						padding-top: 35px;
					}
				}
			}
			h3 {
				text-align: left;
			}
		}
	}
	&#education {
		background: #ccc;
		.timeline {
			position: relative;
			padding: 0;
			list-style: none;
		}
	}
	&#work {
		background: #ddd;
	}
	&#skills {
		background: #eee;
		.chart {
			position: relative;
		    padding: 0 10px;
		    display: block;
		    margin: 0 auto;
		    text-align: center;
		    width: 170px;
		    height: 170px;
		    p {
		    	line-height: 170px;
		    	font-size: 40px;
		    }
		    canvas {
		    	position: absolute;
		    	top: 0;
		    	left: 0;
		    }
		}
	}
}

/* Timeline */
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #7e80af;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li .timeline-image span.ico {
    margin-top: 2px;
    font-size: 3.2em;
    display: inline-block;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h2 {
    margin-top: 30px;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
    color: #7e80af;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image span.ico {
        margin-top: 2px;
        font-size: 4em;
        display: inline-block;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image span.ico {
        margin-top: 2px;
        font-size: 6.2em;
        display: inline-block;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}
