<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Anna</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/index.css" />
	<link rel="stylesheet" type="text/css" href="/" />
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<header>
		<nav class="navbar nav-hidden navbar-default navbar-fixed-top">
		  	<div class="text-center navbar-div">
			    <ul class="nav navbar-nav navbar-ul">
			    	<li><a href="#home" class="active">Home</a></li>
		      		<li><a href="#about">About me</a></li>
			      	<li><a href="#education">Education</a></li>
			      	<li><a href="#work">Work</a></li> 
			      	<li><a href="#skills">Skills</a></li> 
			      	<li><a href="#contact">Contact me</a></li> 
			    </ul>
		  	</div>
		</nav>
		<button class="toggle-nav toggle-show">
			<i class="fa fa-bars navbar-i" aria-hidden="true"></i>
		</button>
		
	</header>

	<section id="home" class="fill">
		<div class="home-background">
			<div class="container-fluid">
				<div class="row">
					<div class="upper-home">
					</div>
					<div class="avatar">
						<img src="../images/anna.jpg" class="img-responsive">
					</div>
					<div class="lower-home text-center">
					<h2>ANNA BERGLIND JÓNSDÓTTIR</h2>
					<h5>Developer</h5>
					<button class="btn btn-default">
						<span class="glyphicon glyphicon-download-alt"></span> 
						Download CV
					</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="section text-center" id="about">
		 	<h1>
		 		ABOUT ME
		 	</h1>
		 	<div class="container">
		 		<div class="row">
				 	<div class="col-md-12" id="bladur">
				 		<p>
				 			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley 
				 			<br><br>
							Why do we use it?
							It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
				 		</p>
				 	</div>
			 	</div>
			 	<div class="row">
				 	<div class="col-md-4" id="basic-info">
				 		<div class="info-title">
					 		<p>Birthdate</p>
					 		<p>Phone</p>
					 		<p>Email</p>
					 		<p>Website</p>
					 		<p>LinkedIn</p>
				 		</div>
				 		<div class="info-details">
				 			<p>: 29. january 1991</p>
					 		<p>: 8944994</p>
					 		<p>: annabj91@gmail.com</p>
					 		<p>: www.anna.is</p>
					 		<p>: <a href="https://www.linkedin.com/in/annaberglind/">www.linkedin.com/in/annaberglind</a></p>
				 		</div>
				 		<p class="about-signature">Anna B. Jónsdóttir</p>
				 	</div>
				 	<div class="col-md-8" id="interests">
				 		<h3>Interests and hobbies</h2>
				 		<ul>
					 		<li>
						 		<p>
						 			<i class="fa fa-laptop" aria-hidden="true"></i> 
						 			<br><span>Computers</span>
						 		</p>
					 		</li>
					 		<li>
						 		<p>
						 			<i class="fa fa-plane" aria-hidden="true"></i> 
						 			<br><span>Traveling</span>
						 		</p>
					 		</li>
					 		<li>
						 		<p>
						 			<i class="fa fa-cutlery" aria-hidden="true"></i> 
						 			<br><span>Food</span>
						 		</p>
					 		</li>
					 		<li>
						 		<p>
						 			<i class="fa fa-music" aria-hidden="true"></i> 
						 			<br><span>Music</span>
						 		</p>
					 		</li>
					 		<li>
						 		<p>
						 			<i class="fa fa-space-shuttle" aria-hidden="true"></i> 
						 			<br><span>Astronomy</span>
						 		</p>
					 		</li>
					 		<li>
						 		<p>
						 			<i class="fa fa-flask" aria-hidden="true"></i> 
						 			<br><span>Science</span>
						 		</p>
					 		</li>
					 		<li>
						 		<p>
						 			<i class="fa fa-female" aria-hidden="true"></i> 
						 			<br><span>Fashion</span>
						 		</p>
					 		</li>
					 		<li>
						 		<p>
						 			<i class="fa fa-users" aria-hidden="true"></i> 
						 			<br><span>Family time</span>
						 		</p>
					 		</li>
				 		</ul>
				 	</div>

		 		</div>
		 	</div>
		</div>
	</section>
	<section>
		<div class="section text-center" id="education">
			<div class="container">
				<div class="row">
					<h1>
				 		EDUCATION
				 	</h1>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<ul class="timeline">
							<li class="timeline-inverted">
								<div class="timeline-image wow zoomIn animated">
									<span class="ico"><i class="fa fa-graduation-cap"></i></span>
								</div>
								<div class="timeline-panel wow fadeInRight animated">
									<div class="timeline-heading">
										<h1 class="subheading">Education</h1>
									</div>
									<div class="timeline-body">
										<p>Gaman að læra</p>
									</div>
								</div>
							</li>
							<li>
								<div class="timeline-image wow zoomIn animated">
									<h4>Jun 2014 <br> - <br> Agu 2015</h4>
								</div>
								<div class="timeline-panel wow fadeInRight animated">
									<div class="timeline-heading">
										<h4>HR</h4>
										<h4 class="subheading">BS í tölvuanrfræði</h4>
									</div>
									<div class="timeline-body">
										<p>Gaman að læra</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-image wow zoomIn animated">
									<h4>Jun 2014 <br> - <br> Agu 2015</h4>
								</div>
								<div class="timeline-panel wow fadeInRight animated">
									<div class="timeline-heading">
										<h4>HR</h4>
										<h4 class="subheading">BS í heilbrigðisverkfræði</h4>
									</div>
									<div class="timeline-body">
										<p>Gaman að læra</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="section text-center" id="work">
		 	<div class="container">
				<div class="row">
					<h1>
				 		WORK
				 	</h1>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<ul class="timeline">
							<li class="timeline-inverted">
								<div class="timeline-image wow zoomIn animated">
									<span class="ico"><i class="fa fa-briefcase"></i></span>
								</div>
								<div class="timeline-panel wow fadeInRight animated">
									<div class="timeline-heading">
										<h1 class="subheading">Resume</h1>
									</div>
									<div class="timeline-body">
										<p>Gaman að vinna</p>
									</div>
								</div>
							</li>
							<li>
								<div class="timeline-image wow zoomIn animated">
									<h4>Jun 2014 <br> - <br> Agu 2015</h4>
								</div>
								<div class="timeline-panel wow fadeInRight animated">
									<div class="timeline-heading">
										<h4>Raförninn</h4>
										<h4 class="subheading">Forritari</h4>
									</div>
									<div class="timeline-body">
										<p>Gaman að vinna</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-image wow zoomIn animated">
									<h4>Jun 2014 <br> - <br> Agu 2015</h4>
								</div>
								<div class="timeline-panel wow fadeInRight animated">
									<div class="timeline-heading">
										<h4>Raförninn</h4>
										<h4 class="subheading">Forritari</h4>
									</div>
									<div class="timeline-body">
										<p>Gaman að vinna</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="section text-center" id="skills">
		 	<h1>
		 		SKILLS
		 	</h1>
		 	<div class="container">
		 		<div class="row">
		 			<div class="col-md-3">
			 			<div class="chart" data-percent="73" data-scale-color="#ffb400">
			 				<p class="chart-percent">73%</p>
			 			</div>
			 			Jquery
		 			</div>
		 			<div class="col-md-3">
			 			<div class="chart" data-percent="93" data-scale-color="#ffb400">
			 				<p class="chart-percent">93%</p>
			 			</div>
			 			Jquery
		 			</div>
		 			<div class="col-md-3">
			 			<div class="chart" data-percent="53" data-scale-color="#ffb400">
			 				<p class="chart-percent">53%</p>
			 			</div>
			 			Jquery
		 			</div>
		 			<div class="col-md-3">
			 			<div class="chart" data-percent="43" data-scale-color="#ffb400">
			 				<p class="chart-percent">43%</p>
			 			</div>
			 			Jquery
		 			</div>
		 		</div>
		 	</div>
		</div>
	</section>
	<section>
		<div class="section text-center" id="contact">
		 	<h1>
		 		contact me, i'm fun
		 	</h1>
		 	<form>
		 		<div class="form-group">
		 			<input type="text" class="form-control" placeholder="Your name" name="contact-name"/>
		 		</div>
		 		<div class="form-group">
		 			<input type="text" class="form-control" placeholder="Your email" name="contact-email"/>
		 		</div>
		 		<div class="form-group">
		 			<input type="text" class="form-control" placeholder="Your phone number" name="contact-phone"/>
		 		</div>
		 		<div class="form-group">
		 			<textarea class="form-control" placeholder="Your message" name="contact-message"></textarea>
		 		</div>
		 	</form>
		</div>
	</section>
	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/js/rendro-easy-pie-chart-97b5824/dist/jquery.easypiechart.js"></script>
	<script src="/js/index.js"></script>
	<script src="https://use.fontawesome.com/123cdad1f6.js"></script>
</body>
</html>